.blog-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    padding: 20px;
    margin-bottom: 30px;
}

.blog-item h3 {
    margin-bottom: 20px;
}