.service-item {
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: .3s ease-in-out;
}

.service-item:hover {
    background-color: #fff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.service-item img {
    width: 100%;
    border-radius: 8px;
}

.service-details {
    padding: 10px;
}

.service-details h3, .service-details h4 {
    margin-bottom: 5px;
}

.service-details p {
    margin-bottom: 20px;
}

.service-details a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cba557;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.service-details a:hover {
    color: #182434;
}