.order-container {
    padding: 80px 0;
    text-align: center;
}

.order-container h3 {
    color: #2ecc71;
    margin-bottom: 50px;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .blogs-container .container {
        max-width: 600px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .blogs-container .container {
        max-width: 310px;
    }
}
