.banner-container {
    width: 100%;
    height: 640px;
    background-image: url('../../../images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
    color: #fff;
}

.banner-container .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 6, 9, 0.55)
}

.banner-container .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
}

.banner-container .container h1 {
    color: #fff;
    margin-bottom: 10px;
}

.banner-container .container p {
    font-size: 18px;
    margin-bottom: 20px;
}