.header-container .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo img {
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 30px;
}

.navigation a {
    color: #fff;
    transition: .3s ease-in-out;
}

.navigation a:hover {
    color: #cba557;
}