.awards-container {
    padding-bottom: 80px;
}

.awards-container h2 {
    margin-bottom: 20px;
}

.awards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .awards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .awards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}
